*
!*/
!*.ipynb
!*.config
!.gitignore
!*.py
!*.R
!*.parallel
!*.Rmd
!*.png
!README.md
!*tsv
!kernel.json
!kernel_template.json
*checkpoint*
*work*
*ATACflow_tutorial_preprocessing_out*
*PUMATAC_dependencies*
*PUMATAC_example_fastq*
*ATACflow*
*.ipynb_checkpoints*
*.nextflow*

